.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.start {
  margin-left: 1rem;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  & > * {
    width: fit-content;
  }
}

.end {
  margin-right: 1rem;
}
